body {	
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    background-color: #FDFFF6;
}

p {
	font-family: 'Reenie Beanie', serif;
}

.center {
  margin:auto;
}

/* "."" == class */
.box {
	flex-direction: column;
}

/* "#"" == id */
